$color1: black;
$color2: white;
$color3: #D9D9D9;
$color4: #7F7F7F;
$color5: #4472C4;

$font2: Roboto, Tahoma, Geneva, Verdana, sans-serif;

$titpc: 20px;
$stitpc: 18px;
$textpc: 16px;
$titmob: 18px;
$stitmob: 16px;
$textmob: 14px;
$headerpc: 13px;
$sheaderpc: 10px;
$headermob: 11px;
$sheadermob: 9px;
$footer: 10px;